body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #080905;
}

.calculator {
    background-color: #17c623;
    border: 1px solid #ec6161;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

input {
    width: 100%;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #47793e;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    font-size: 24px;
    padding: 10px;
    border: 1px solid #a3ef0a;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a38b93;
}